
/* Mobile version */
@media(min-width:400px) {
    body {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12%;
        
    }
    /* REVISAR 3 barras */
    #tres-barras{
        display:flex;
    }
}

/* Desktop */
@media (min-width:900px) {
    body {
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 7%;
    }
    #tres-barras{
        display:none;
    }
}

/* Si no se aplica verdana se aplica sans-serif */
body{
    margin-top: 12%;
    font-family: Verdana, sans-serif;
    background-image: url("/html/media/hotelespatron.png");
}

/*Movil*/
@media (max-width: 750px) {
    /*Pongo margen cuando sea Movil*/
    body {
        margin-top: 15%;
    }
}
