/* Mobile version */
@media(min-width:400px) {
    body {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    /* REVISAR 3 barras */
    #tres-barras{
        display:flex;
    }
}

/* Desktop */
@media (min-width:900px) {
    body {
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    #tres-barras{
        display:none;
    }
}

/* Si no se aplica verdana se aplica sans-serif */
body{
    font-family: Verdana, sans-serif;
    background-image: url("/Portal_Alojamientos_Turisticos-main/html/media/hotelespatron.png");
}
