

.div-menu {
    height: 10%;
    background-color: rgb(95, 172, 255);
    padding-top: 2%;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    /* PARA QUE QUEDE VISIBLE
    position: fixed;
    z-index: 1000000000;
     */
}

.div-menu-arriba {
    background-color: rgb(95, 172, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding:10px;
    margin:0px;
    gap:2%;
    /* gap a lo mejor esta mal */
}

.div-menu-abajo {
    background-color: rgb(95, 172, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49%;
    padding:10px;
    margin:0px;
    gap:2%;
    /* gap a lo mejor esta mal */
}

.logo-menu {
    width: 200px;
    margin-right: 80px;
}

.moneda {
    display: inline-block;
}

.idioma {
    display: inline-block;
    width: 40px;
}

.elementos-arriba-menu {
    padding: 10px;
    display: flex;
    align-items: center;
}

.vectorial-hotel {
    width: 30px;
}

.boton-taxi {
    display: flex;
    align-items: center;
}

.elementos-arriba-menu:hover {
    background-color: rgba(255, 255, 255, 0.194);
    border-radius: 5px;
}

.boton-blanco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(46, 46, 255);
    padding: 10px;
    border-radius: 5px;
}

.boton-blanco:hover {
    background-color: rgb(220, 220, 255);
}

.elementos-abajo-menu-hoteles a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(85, 147, 255, 0.906);
    border: 2px white solid;
    border-radius: 30px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.elementos-abajo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 30px;
}

.elementos-abajo-menu a {
    display: flex;
    align-items: center;
}

.elementos-abajo-menu:hover {
    background-color: rgba(66, 134, 252, 0.906);
}

header {
    padding-bottom: 20px;
}

header a {
    color: whitesmoke;
    text-decoration: none;

}



/*Desktop responsive*/
@media (max-width: 1060px){
    .boton-blanco {
       display: none;
    }

    .logo-menu {
        margin: 0;
    }


}

@media (max-width: 920px) {
    .elementos-abajo-menu:last-child {
        display: none;
    }

    .div-menu-abajo {
        gap: 50px;
    }

    .elementos-abajo-menu, .elementos-arriba-menu, .elementos-abajo-menu-hoteles a {
        font-size: 12px;
    }

    .elementos-arriba-menu img {
        width: 20px;
    }

    .elementos-arriba-menu svg {
        transform: scale(0.5);
    }

    .logo-menu {
        width: 100px;
    }

}

/*Movil*/
@media (max-width: 750px) {
    /*Con esto no te dejara mover de lado a lado y sera mas como una app*/
    body, html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .div-menu {
        flex-direction: row;
        height: 100px;
    }

    .logo-menu {
        width: 70px;
    }

    .elementos-arriba-menu, .boton-blanco, .elementos-abajo-menu-hoteles{
        display: none;
    }

    .elementos-abajo-menu{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 8px;
    }

    .div-menu-abajo {
        gap: 10px;
    }

    .elementos-abajo-menu img {
        width: 10px;
    }
}