td img:hover {
    transition-delay: 0.3s;
    transition-duration: 2s;
    border: 20px solid black;
    box-shadow: inset 1px 1px 10px 0 #000000;
    box-sizing: border-box;
}

table {
    padding-bottom: 50px;
    flex:none;
    overflow: hidden;
}

tr{
    margin-top: 0;
    display: block;
}
td{
    background-color: rgb(95, 172, 255);
    padding: 8px;
    border-radius: 4%;
}

thead img{
    height: 380px;
    width: 570px;
    border-radius: 4%;
    object-fit: cover;
}

tbody img {
    max-width: 100%;
    border-radius: 4%;
    height: 290px;
    width: 374px;
    object-fit: cover;
}



/* arreglar pendiente */
#imagenPromo {
    margin: 0;
    padding: 0; 
    background-image: url("/html/media/imagendebajofooter.jpg");
    background-size: cover;
    height: 200px;
    width: auto;
}

#imagenPromo p{
    background-color: black;
    font-size: 25px;
    width: 40%;
    color: white;
}

main {
    padding: 20px; 
    background-color: rgba(200, 231, 254, 0.734);
    position: relative; 
    z-index: 1; 
}

.titulo_lugares {
    display: flex;
    justify-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    flex:none;
    overflow: hidden;
}

.titulo-variedad-hoteles {
    text-align: center;
}

.video-barcelo {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*desktop*/
@media (max-width: 1528px) {
    tbody tr td:nth-child(n-2) { /*solo primero y segundo*/
        display: none;
      }

    td img {
        width: 300px;
    }



}


/*Movil*/
@media (max-width: 750px) {

    tbody tr td:nth-child(n+3) {
        display: none;
      }
    td img  {
        width: 100%;
    }

    .video-barcelo {
        width: 90%;
    }

}

